/* 
TODO: 
- add media queries
*/

.about-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin-bottom: 50px;
}

.about-title {
  text-align: center;
  width: 300px;
  font-size: 35px;
  padding: 10px 0;
  margin: 25px 0 50px 0;
  border-bottom: solid 1px black;
}

.about-text {
  font-size: 20px;
  line-height: 1.7;
  font-family: 'Quattrocento', serif;
}

/* --- MEDIA QUERIES --- */

