/* RESET */

* {
  vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
  margin: 0;
}

/* BODY STYLING */

body {
  font-family: 'Cinzel', serif;
}

/* ELEMENT STYLING */

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

/* NAV WRAPPER */

nav {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}

/* LOGO/TITLE */

header {
  display: flex;
  align-items: center;
}

header h1 {
  margin-left: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  font-size: 25px;
}

.cross {
  width: 37px;
  height: 67px;
}

/* LINKS */

.nav-links a {
  font-size: 18px;
  margin: 0px 10px 0px 10px;
}

.nav-links > a:before {
  content: "";
  position: absolute;
  width: 95%;
  height: 1px;
  top: 30px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-links > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.dropdown-icon {
  font-size: 28px;
  position: relative;
  top: 5px;
  right: 6px;
}

/* MEMBER LOGIN */

.user-icon {
  font-size: 32px;
  position: relative;
  top: 5px;
  color: white;
}

#login {
  box-sizing: border-box;
  background-color: darkgrey;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

/* DISABLE HOVER EFFECT */

#login:hover:before {
  visibility: hidden
}


/* --- MEDIA QUERIES --- */

@media all and (max-width: 1365px) {
  nav {
    flex-direction: column;
  }
  
  header {
    margin-bottom: 25px;
  }
}

@media all and (max-width: 870px) {
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  .nav-links a {
    font-size: 18px;
    margin: 10px 0px 10px 0px;
  }

  /* DISABLE HOVER */

  .nav-links > a:hover:before {
    visibility: hidden;
  }

  #login {
    padding: 5px;
  }
  .user-icon {
    font-size: 30px;
  }
}